@model ToDoList.Models.ViewModels.UserProfileViewModel
@Scripts.Render("~/Scripts/submit.js")
Name: @Html.Label(Model.Name)
Age: @Html.Label(Model.Age)
@Html.Label(Model.Status)
<p>Use this area to provide additional information.</p>
